<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sales-order-line-my-suffix-heading">Create or edit a Sales Order Line</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!salesOrderLine.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="salesOrderLine.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_qty">Qty</label>
                    <input type="number" class="form-control" name="qty" id="field_qty"
                        [(ngModel)]="salesOrderLine.qty" required/>
                    <div [hidden]="!(editForm.controls.qty?.dirty && editForm.controls.qty?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.qty?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.qty?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_salesOrder">Sales Order</label>
                    <select class="form-control" id="field_salesOrder" name="salesOrder" [(ngModel)]="salesOrderLine.salesOrderId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="salesOrderOption.id" *ngFor="let salesOrderOption of salesorders; trackBy: trackSalesOrderById">{{salesOrderOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sku">Sku</label>
                    <select class="form-control" id="field_sku" name="sku" [(ngModel)]="salesOrderLine.skuId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sKUOption.id" *ngFor="let sKUOption of skus; trackBy: trackSKUById">{{sKUOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
