<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="salesOrderLine">
            <h2><span>Sales Order Line</span> {{salesOrderLine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Qty</span></dt>
                <dd>
                    <span>{{salesOrderLine.qty}}</span>
                </dd>
                <dt><span>Sales Order</span></dt>
                <dd>
                    <div *ngIf="salesOrderLine.salesOrderId">
                        <a [routerLink]="['/sales-order', salesOrderLine.salesOrderId, 'view']">{{salesOrderLine.salesOrderId}}</a>
                    </div>
                </dd>
                <dt><span>Sku</span></dt>
                <dd>
                    <div *ngIf="salesOrderLine.skuId">
                        <a [routerLink]="['/sku', salesOrderLine.skuId, 'view']">{{salesOrderLine.skuId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sales-order-line', salesOrderLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
