<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="purchaseOrderLine">
            <h2><span>Purchase Order Line</span> {{purchaseOrderLine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Qty</span></dt>
                <dd>
                    <span>{{purchaseOrderLine.qty}}</span>
                </dd>
                <dt><span>Purchase Order</span></dt>
                <dd>
                    <div *ngIf="purchaseOrderLine.purchaseOrderId">
                        <a [routerLink]="['/purchase-order-my-suffix', purchaseOrderLine.purchaseOrderId, 'view']">{{purchaseOrderLine.purchaseOrderId}}</a>
                    </div>
                </dd>
                <dt><span>Sku</span></dt>
                <dd>
                    <div *ngIf="purchaseOrderLine.skuId">
                        <a [routerLink]="['/sku-my-suffix', purchaseOrderLine.skuId, 'view']">{{purchaseOrderLine.skuId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/purchase-order-line-my-suffix', purchaseOrderLine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
